ion-toolbar {


  --ion-background-color: linear-gradient(#19a4f5, #16bef1de);}

ion-title {
  color: #E97829;
  font-size: 25px;
}
ion-thumbnail {
  min-width: 7rem;
  min-height: 6rem;
  img {
    max-width: 6rem;
    min-width: 6rem;
  }
}
.positions{
  margin-left: 100px;
  margin-right: 100px;




}
