ion-toolbar {


  --ion-background-color: linear-gradient(#19a4f5, #16bef1de);
}

ion-title {
  color: #E97829;
  font-size: 25px;
}



.bordure{border: 2px solid gray;}
.borduree{border: 2px outset gray;}
