
<ion-header>
  <ion-toolbar>
    <ion-title>
      vision globale
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item >
      <ion-label>Environnement (Dernière mesure : {{ timeenv ? timeenv : 0 }})</ion-label>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col col-6 >
        <ion-card >
          <ion-card-content>
            <ion-icon name="thermometer" [color]="'danger'"></ion-icon>
            Température {{ temperature ? temperature : 0 }}
          </ion-card-content>
        </ion-card>
      </ion-col>
        <ion-col col-6 >
          <ion-card>
            <ion-card-content>
              porte
            </ion-card-content>
          </ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5 >
        <ion-card>
          <ion-card-content>
            <img style="width:4%" src="assets/icon/images.png"/>
            fumée    {{ dat ? dat : 0 }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-list>
    <ion-item >
      <ion-label>Mesure AC (Dernière mesure : {{ timeAC ? timeAC : 0 }})</ion-label>
    </ion-item>
  </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col class="bordure">
          R
        </ion-col>
        <ion-col class="bordure">
          S
        </ion-col>
        <ion-col class="bordure">
          T
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="bordure">
          Tension(U)
        </ion-col>
        <ion-col class="borduree">
          {{ ACV1 ? ACV1 : '-' }}
        </ion-col>
        <ion-col class="borduree">
          {{ ACV2 ? ACV2 : '-' }}
        </ion-col>
        <ion-col class="borduree">
          {{ ACV3 ? ACV3 : '-' }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="bordure">
          Courant(I)
        </ion-col>
        <ion-col class="borduree">
          {{ ACI1 ? ACI1 : '-' }}
        </ion-col>
        <ion-col class="borduree">
          {{ ACI2 ? ACI2 : '-' }}
        </ion-col>
        <ion-col class="borduree">
          {{ ACI3 ? ACI3 : '-' }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="bordure">
          Puissance (P)
        </ion-col>
        <ion-col class="borduree">
          {{ ACP1 ? ACP1 : '-' }}
        </ion-col>
        <ion-col class="borduree">
          {{ ACP2 ? ACP2 : '-' }}
        </ion-col>
        <ion-col class="borduree">
          {{ ACP3 ? ACP3 : '-' }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="bordure">
          Energie(E)
        </ion-col>
        <ion-col class="borduree">
          {{ ACE1 ? ACE1 : '-' }}
        </ion-col>
        <ion-col class="borduree">
          {{ ACE2 ? ACE2 : '-' }}
        </ion-col>
        <ion-col class="borduree">
          {{ ACE3 ? ACE3 : '-' }}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="bordure">
          Fréquence(F)
        </ion-col>
        <ion-col class="borduree">
          {{ ACF1 ? ACF1 : '-' }}
        </ion-col>
        <ion-col class="borduree">
          {{ ACF2 ? ACF2 : '-' }}
        </ion-col>
        <ion-col class="borduree">
          {{ ACF3 ? ACF3 : '-' }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="bordure">
          Cout(FCFA)
        </ion-col>
        <ion-col class="borduree">
          {{ ACE1*cout ? (ACE1+ACE2+ACE3)*cout : '-' }}
        </ion-col>

      </ion-row>

    </ion-grid>
  <ion-list>
    <ion-item >
      <ion-label>Mesure DC(Dernière mesure : {{ timeDC ? timeDC : 0 }})</ion-label>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col class="bordure">
        Redresseur
      </ion-col>
      <ion-col class="bordure">
        BTS
      </ion-col>
      <ion-col class="bordure">
        Batterie
      </ion-col >
    </ion-row>

    <ion-row>
      <ion-col class="bordure">
        Tension(U)
      </ion-col>
      <ion-col class="borduree">
        {{ BTSV ? BTSV : '-' }}
      </ion-col>
      <ion-col class="borduree">
        {{ BTSV ? BTSV : '-' }}
      </ion-col>
      <ion-col class="borduree">
        {{ BATV ? BATV : '-' }}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="bordure">
        Courant(I)
      </ion-col>
      <ion-col class="borduree">
        {{ BTSI ? BTSI: '-' }}
      </ion-col>
      <ion-col class="borduree">
        {{ BTSI? BTSI: '-' }}
      </ion-col>
      <ion-col class="borduree">
        {{ BATI ? BATI : 0 }}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="bordure">
        Puissance (P)
      </ion-col>
      <ion-col class="borduree">
        {{ BTSP ? BTSP : '-' }}
      </ion-col>
      <ion-col class="borduree">
        {{ BTSP ? BTSP : '-' }}
      </ion-col>
      <ion-col class="borduree">
        {{ BATP ? BATP : '-' }}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="bordure">
        Energie(E)
      </ion-col>
      <ion-col class="borduree">
        -
      </ion-col>
      <ion-col class="borduree">
          -
      </ion-col>
      <ion-col class="borduree">
        {{ BATE ? BATE : '-' }}
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-list>
    <ion-item >
      <ion-label>Contact de defaut</ion-label>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col col-6 >
        <ion-card>
          <ion-card-content>
            Etat de secteur Baie1
            <ion-icon name="power" [color]="etat_de_secteur? 'success' : 'danger'"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6 >
        <ion-card>
          <ion-card-content>
            Alarme electrogène
            <ion-icon name="power" [color]="alarme_electrogene? 'success' : 'danger'"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 >
        <ion-card>
          <ion-card-content>
            Etat secteur AC general
            <ion-icon name="power" [color]="AC_general? 'success' : 'danger'"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6 >
        <ion-card>
          <ion-card-content>
            Etat secteur baie2
            <ion-icon name="power" [color]="BAIE2? 'success' : 'danger'"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
